<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="nocode"/>

    <link
      rel="icon"
      href="./assets/img/logo.png"
      type="image/png"
      sizes="700x700"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
            <div class="header-form">
                <div class="header-form-type">
                    <div class="header-form-login">
                        <div class="header-logo">
                            <a href="index.html"><div class="header-logo-img">
                                <img src="/img/logo.png" width="300"/>
                            </div></a>
                        </div>
                        <div class="header-form-modal mb-3">
                            <div class="header-form-text">
                                <h3 class="header-form-text-title">Login</h3>
                            </div>
                            <div class="header-form-input">
                                <div class="header-form-input-active">
                                    <form action=".ndex.html">
                                        <div class="header-form-input-call mb-3">
                                            <label class="header-form-input-label">Enter PhoneNumber</label>
                                            <input type="text" class="header-form-input-control"
                                                   placeholder="Enter your phonenumber" id="phonenumber" name="phonenumber" value="" required>
                                            
                                        </div>
                                        <div class="header-form-input-call mb-3">
                                            <label class="header-form-input-label">Password</label>
                                            <input type="password" class="header-form-input-control"
                                                   placeholder="Enter your password" id="password" name="password" value="" required>
                                            
                                        </div>
                                        <div class="header-form-button">
                                            <a href="">
                                                <button class="btn btn-primary w-100 text-uppercase fw-bold">Login
                                                </button>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <div class="header-form-nav">
                                    OR
                                </div>
                                <div class="header-form-container">
                                    <div class="header-form-container-social">
                                        <a href="./commingsoon.html"
                                           class="btn btn-google d-flex header-form--social">
                                            <span class="small"><i class="header-container-social-icon icon-google fab fa-google"></i>Login with Google</span>
                                        </a>
                                    </div>
                                    <div class="header-form-container-social"> 
                                        <a href="./commingsoon.html" class="btn btn-facebook header-form--social">
                                            <span class="small"> <i class="header-container-social-icon icon-facebook fab fa-facebook"></i>Login with Facebook</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center"><a href="forgot-password.html" class="text-danger">Forgot password?</a>
                        </div>
                        <div class="text-center">Don't have an account? <a href="register.html" class="text-danger">click here to register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>